<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/schema/11.4.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="build/cache/phpunit"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
>
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Symfony App Unit Test Suite">
      <directory suffix="Test.php">tests/src/Unit</directory>
    </testsuite>
  </testsuites>

  <source restrictNotices="true" restrictWarnings="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage pathCoverage="true">
    <report>
      <clover outputFile="build/coverage/clover.xml"/>
      <text outputFile="build/coverage/coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
      <xml outputDirectory="build/coverage/coverage-xml"/>
    </report>
  </coverage>
</phpunit>
